name: Test
on:
  push:
    branches:
      - main
  pull_request_target:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Configure
        id: configure
        shell: bash
        run: |
          sed -En 's/^go (.*)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV
      - uses: actions/setup-go@v6
        with:
          go-version: "~${{ env.GO_VERSION }}"
      - name: Test
        run: go test -json ./... > test.json
      - name: Annotate tests
        if: always()
        uses: guyarb/golang-test-annotations@v0.8.0
        with:
          test-results: test.json
